@font-face {
  font-family: myFont;
  src: url(Akira-Expanded-Bold.otf);
}
.rings{
  position: fixed;
  overflow-y: hidden;
  overflow-x: hidden;
  justify-content: center;
  text-align: center;
  width: 100%;
  background:black;
  height: 100vh;
  overflow-y: hidden;
}
video{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}
.ring-container
{
  margin:0;
  padding:0;
  background:#03191E;
  height: 98vh;
  width: 98vw;
  
  overflow: hidden;
}
.ring h1{
    margin-top: 180px;
}
.ring
{
  position:absolute;
  top:50%;
  justify-content: center;
  left:50%;
  transform:translate(-50%,-50%) scale(0.8);
  width:500px;
  height:500px;
  background:linear-gradient(233deg, #64009A, #3B22AA, #B3007D);
  border:3px solid transparent;
  border-radius:50%;
  text-align:center;
  line-height:150px;
  font-family:myFont;
  font-size:28px;
  color:white;
  letter-spacing:4px;
  text-transform:uppercase;
  text-shadow:0 0 10px white;
  box-shadow:0 0 20px white;
  /* transform: scale(1); */
  /* box-shadow:0 0 20px rgba(0,0,0,.5); */
}
.ring:after
{
  content:'';
  position:absolute;
  top:-2px;
  left:-2px;
  width:100%;
  height:100%;
  border:5px solid transparent;
  border-top:10px solid white;
  border-bottom:10px solid white;
  border-radius:50%;

   box-shadow:0 0 20px white;
  animation:animateC 2s linear infinite;
}
/* span
{
  display:block;
  position:absolute;
  top:calc(50% - 2px);
  left:50%;
  width:50%;
  height:4px;
  background:transparent;
  transform-origin:left;
} */
/*  */
@keyframes animateC
{
  0%
  {
    transform:rotate(0deg) ;
  
  }
  100%
  {
    transform:rotate(360deg);
  }
}

/* @media screen and (max-width:780px){
  .ring h1{
    margin-top: 75px;
  }
  .ring{
    width: 200px;
    height: 200px;
    font-size:10px;
    line-height:60px;

  }
} */
/* @media only screen and (max-width: 600px) {
  .rings{
    height: 100vh;
    overflow-y: hidden;
    text-align: center;
  }
} */



