
.container{
    color:white;
    text-align: center;
}

.title{
    color:white;
    text-transform: uppercase;
    font-size: clamp(2rem, 3rem + 1px, 5rem);
    font-family: 'Orbitron !important';
    font-weight: 900;
    letter-spacing: 0.2px;
    padding: 2rem;
    text-shadow: 1px 1px grey;
}

/* .day1info{
    margin: 30px;
} */

.white-stick-left{
    box-shadow: 0px 0px 40px 10px rgb(216, 47, 216);
    background-color: rgb(216, 47, 216);
    border-radius: 20px;
    position: absolute;
    left:60%;
    width: 10px;
    height: 40px;
}
.white-stick-right{
    box-shadow: 0px 0px 40px 10px rgb(216, 47, 216);
    background-color: rgb(216, 47, 216);
    border-radius: 20px;
    position: absolute;
    left:40%;
    width: 10px;
    height: 40px;
}

.timeline-circle{
    color: #687578;
    margin-right: 50px;
    font-size: 100px;
    font-weight: bold;
    text-align: right;
    grid-area: idt;
}
.timeline-circle-p{
    display: inline;
}
.timeline-circle-p:hover{
    background: linear-gradient(#5e00bf, #FE68F4);
    /* background: linear-gradient(to right, #f32170,
    #ff6b08, #cf23cf, #eedd44); */
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.heading-timeline{
    font-size: 35px;
    text-align: left;
    display: flex;
    align-items: flex-end;
    grid-area: headt;
}
.info-timeline{
    font-size: 20px;
    text-align: left;
    grid-area: infot;
}

.timeline-circle-right{
    color: #687578;
    margin-left: 50px;
    font-size: 100px;
    font-weight: bold;
    text-align: left;
    grid-area: idt;
}
.info-timeline-right{
    font-size: 20px;
    text-align: right;
    grid-area: infot;
}
.heading-timeline-right{
    font-size: 35px;
    text-align: right;
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
    grid-area: headt;
}

.timeline-event-left{
    padding: 60px;
    position: relative;
    display:grid;
    grid-template: 
    'idt headt'
    'idt infot';
}
.timeline-event-right{
    padding: 60px;
    position: relative;
    display:grid;
    grid-template: 
    'headt idt'
    'infot idt';
}

.timeline-btn{
    border: 0px;
    font-size: 30px;
    color: white;
    border-top: transparent solid 5px;
    background-color: transparent;
    width:20%;
    height: 100px;
    
}

.timeline-combined{
    display: block;
}

.timeline-btn svg{
    width: 1.5rem;
    height: 1.5rem;
}

@media(max-width:1000px){
    .timeline-btn{
        font-size: 20px;
        height: 60px;
    }
    .heading-timeline,.heding-timeline-right{
        font-size: 30px;
    }
    .info-timeline, .info-timeline-right{
        font-size: 15px;
    }
    .timeline-circle{
        font-size: 85px;
        margin-right: 15px;
    }
     .timeline-circle-right{
        margin-left: 15px;
        font-size: 85px;
    }
    .timeline-event-left, .timeline-event-right{
        padding: 25px;
        padding-top: 50px;
        padding-bottom: 25px;
    }
}

/* sponsors CSS */

.sponsors-container{
    display: block;
    /* margin: 10px; */
    text-align: center;
    /* margin-top: 50px; */
}
.sponsors-type{
    text-align: center;
    font-size: 25px;
    margin: 30px;
    margin-top:40px ;
}
.sptype-head{
    font-size: 40px;
}
.sponsor-container-div{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.sponsor-img-div{
    display: flex;
    vertical-align: top;
    padding: 10px;
    margin: 30px;
    margin-right: 30px;
    height: 160px;
    width: 250px;
    text-align: center;
    border-radius: 10px;
    background-color: #104755;
    border: 1px solid #3c9ab2;
}
.sponsor-img-div:hover{
    box-shadow: 0px 0px 40px 10px #3c9ab2;
    background-color: #1c6e82;
}

.Sponsors-img{
    max-height: 160px;
    margin: auto;
    border-radius: 10px;
    width: 130px;
}



/* slider div of sponsors */
/* .slider-div{
    width:85%;
    display: block;
} */
.slider{
    height:200px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.slide-track{
    display: flex;
    width: calc(200px * 14);
    animation: scrollL 15s linear infinite;
    animation-direction: alternate;
}

@keyframes scrollL {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-150px * 7));
    }
}

.slide-track2{
    display: flex;
    width: calc(200px * 14);
    animation: scrollR 15s linear infinite;
    animation-direction: alternate;
}

@keyframes scrollR {
    100%{
        transform: translateX(0);
    }
    0%{
        transform: translateX(calc(-150px * 7));
    }
}

.slide{
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    padding: 15px;
}

.sponsors-slider-img{
    width: 100%;
    transition: transform 2s;
}
