[class*="btn-glitch-"] {
    display: inline-block;
    font-family: "VT323", monospace;
    border: 1px solid white;
    color: white;
    padding: 2px 10px;
    min-width: 175px;
    line-height: 1.5em;
    white-space: no-wrap;
    text-transform: uppercase;
    cursor: pointer;
}
[class*="btn-glitch-"] .text-decoration, [class*="btn-glitch-"] .text{
    font-size: medium;
}
[class*="btn-glitch-"] .text, [class*="btn-glitch-"] .decoration {
    display: inline-block;
}
[class*="btn-glitch-"] .decoration {
    display: inline-block;
    float: right;
}
[class*="btn-glitch-"]:hover, [class*="btn-glitch-"]:focus {
    animation-name: glitch;
    animation-duration: 0.2s;
    background-color: yellow;
    color: black;
    border: 1px solid yellow;
}
[class*="btn-glitch-"]:hover .text-decoration, [class*="btn-glitch-"]:focus .text-decoration {
    animation-name: blink;
    animation-duration: 0.1s;
    animation-iteration-count: infinite;
}
[class*="btn-glitch-"]:hover .decoration, [class*="btn-glitch-"]:focus .decoration {
    animation-name: blink;
    animation-duration: 0.1s;
    animation-iteration-count: infinite;
}
[class*="btn-glitch-"]:hover :before, [class*="btn-glitch-"]:focus :before {
    content: " ";
    width: 15px;
    border: 1px solid black;
    position: absolute;
    right: 25%;
    bottom: 3px;
    transform: rotate(35deg);
}
[class*="btn-glitch-"]:hover :after, [class*="btn-glitch-"]:focus :after {
    animation-name: shrink;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    content: " ";
    width: 75%;
    border: 1px solid black;
    position: absolute;
    left: 0;
    bottom: 5px;
}
[class*="btn-glitch-"]:active {
    background: none;
    color: yellow;
}
[class*="btn-glitch-"]:active .text-decoration {
    animation-name: none;
}
[class*="btn-glitch-"]:active .decoration {
    animation-name: none;
}
[class*="btn-glitch-"]:active :before, [class*="btn-glitch-"]:active :after {
    display: none;
}
@keyframes glitch {
    25% {
        background-color: red;
        transform: translateX(-10px);
        letter-spacing: 10px;
   }
    35% {
        background-color: green;
        transform: translate(10px);
   }
    59% {
        opacity: 0;
   }
    60% {
        background-color: blue;
        transform: translate(-10px);
        filter: blur(5px);
   }
    100% {
        background-color: yellow;
        blur: 5px;
   }
}
@keyframes blink {
    50% {
        opacity: 0;
   }
}
@keyframes shrink {
    100% {
        width: 10%;
   }
}
