@keyframes backgroundColorPalette {
    0% {
        background: rgba(255, 255, 255, 0.2);
        border: 3px solid #ffffff;
    }



    100% {
        background: #fbfbfb;
    }


}

@keyframes colorPalette {
    0% {
        color: #fbfbfb;
    }



    100% {
        color: #171616;
    }


}

.register {
    /* animation-name: backgroundColorPalette;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate; */
    animation: backgroundColorPalette 3.5s ease-in-out 3.5s infinite alternate;
    height: 4vw;
    width: 13vw;
    display: inline-block;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    border: 3px solid #ffffff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.b1 {
    animation: colorPalette 3.5s ease-in-out 3.5s infinite alternate;
    /* animation-name: colorPalette;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate; */
    font-family: "Baloo 2", cursive;
    font-size: 1.5vw;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.04em;
}

@media only screen and (max-width: 600px) {
    .register {
        height: 6vw;
        width: 20vw;
    }

    .b1 {
        font-size: 2vw;
    }
}
