*{
    margin: 0px;
    padding: 0px;
}
@font-face {
    font-family: myFont;
    src: url(Akira-Expanded-Bold.otf);
  }
  
.heading{
    text-align: center;
    font-family:myFont;
    margin-top: 10rem;
    margin-bottom: 5rem;
    font-size: 30px;

}
.discordContainer{
    max-width: 800px;
    margin: auto;
    
}
.discordButton{
    cursor:pointer;

}
