.menuWrap {
    position: absolute;
    top: 25px;
    left: 30px;
    background-color: #64009a;
    box-shadow: 0 1px 15px #fbfbfb4e;
    width: 40px;
    height: 40px;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: all 0.5s ease;
}

.menuWrap .menuIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 17px;
    position: relative;
}

.menuIcon .line {
    width: 20px;
    height: 2.3px;
    border-radius: 20px;
    transition: all 0.5s ease;
    background-color: #fbfbfb;
}

.menuIcon .cross {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menuIcon .cross .line {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
}

.menuWrap .listWrap {
    position: absolute;
    top: 40px;
    left: -30px;
    visibility: hidden;
    /* display: none; */
    transition: all 0.5s ease;
    transform: translateX(-300%);
}

.menuWrap .listWrap ul {
    list-style: none;
    display: flex;
    position: relative;
    left: 30px;
    top: 15px;
    align-items: flex-start;
    /* bottom: 0px; */
    /* flex-wrap: wrap-reverse; */
    height: 50vh;
    flex-direction: column;
    gap: 15px;
}

.menuWrap .listWrap li {
    white-space: nowrap;
    background-color: #64009a;
    box-shadow: 0 1px 15px #fbfbfb4e;
    text-align: left;
    width: fit-content;
    padding: 8px 15px;
    border-radius: 5px;
    transition: all 0.5s ease;
}

.menuWrap .listWrap li a {
    color: #fbfbfb;
    font-family: "Baloo 2", cursive;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.5s ease;
}

/* Menu Open */

.menuIcon.active > .line:nth-child(1),
.menuIcon.active > .line:nth-child(3) {
    opacity: 0;
}

.menuIcon.active .cross .line:nth-child(1) {
    transform: translate(-50%, -50%) rotate(45deg);
}

.menuIcon.active .cross .line:nth-child(2) {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.menuIcon.active ~ .listWrap {
    display: flex;
    flex-direction: column;
    transform: translateX(0%);
    visibility: visible;
}
