.description{
    padding: 0;
    width: 100%;
    padding-top: 5rem;
    color: white;
    font-family: "Baloo 2", cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    margin-bottom: 17vw;
    margin-top: 3vw;
}

.desc-container{
    display: flex;
    align-items: center;
    justify-content: center;
}


.description-heading{
    margin-bottom: 5rem;
    font-size: 2.5rem;
    width: 80%;
    text-align: center;
    font-family: 'Orbitron';
}

.description-heading span{
    padding: 3px;
}



.img{
    position: relative;
    height: 40vw;
    width: auto;
    overflow: hidden;
    top: 10vw;
    left: 2vw;
}

.description-text{
    position: relative;
    background-image: linear-gradient(#3b22aa, #64009a);
    height: fit-content;
    width: 40vw;
    padding-top: 1rem;
    left: -2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0 8px 32px 3px #64009a;
}

.text{
    font-size: 1.2rem;
    padding: 2rem;
    text-align: center;
    line-height: 1.5rem;
}

.events{
    font-size: 1.5rem;
    padding: 2rem;
    text-align: justify;
    line-height: 1.5rem;
    margin-top: -2.5rem;
    text-align: center;
}

.event-names{
    display: flex;
    flex-wrap: wrap;
    font-size: 1.2rem;
    padding: 2rem;
    line-height: 1.5rem;
    justify-content: space-around;
    margin-top: -3rem;
    text-align: center;
}
.event-names span{
    margin: 1rem;
}



@media only screen and (max-width:600px){
    .description{
        padding: 0;
    }
    .description-heading{
        margin: 5vw;
    }
    .description-text{
        position: initial;
        width: 80vw;
    }
    .img{
        display: none;
    }
    .desc-container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (min-width:600px) and (max-width:700px){
    .description{
        padding: 0;
    }
    .description-heading{
        text-align: center;
    }
    .description-text{
        position: initial;
        width: 80vw;
    }
    .img{
        display: none;
    }
    .desc-container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (min-width:700px) and (max-width:800px){
    .description{
        padding: 0rem;
    }
        
    .description-text{
        position: initial;
        width: 80vw;
    }
    .img{
        display: none;
    }
}



@media only screen and (min-width:800px) and (max-width:920px){
 
    
    .description{
        padding: 0rem;
    }
        
    .description-text{
        position: initial;
        width: 80vw;
    }
    .img{
        display: none;
    }
}
@media only screen and (min-width:920px) and (max-width:1150px){
 
    
    .img{
        width: 40vw;
        left: 4vw;
        top: 10rem;
        height: auto;
    }
    
    .description-text{
        left: -2vw;
        width: 50vw;
 
    }
}