.nav {
    height: 100px;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    top: 0;
    left: 0;
    right: 0;
    font-family: "Baloo 2", cursive;
    z-index: 100;
    font-size: 1.3vw;
}

.nav-2{
    display: none;
}

.nav-item {
    margin: 0 2vw;
    transition: all 0.2s ease;

}


.proj-button {
    background-color: rgba(255, 255, 255, 0.112);
    padding: 5px 30px;
    /* border-radius: 10px; */
    margin-left: 8vw;
    transition: all 0.2s ease;

}

.nav-a {
    color: white;
    text-decoration: none;
}

.nav-a:hover{
    /* color: rgb(173, 173, 173); */
    transition: all 0.2s ease;
    text-shadow: 1px 1px 10px white;


}

.proj-button:hover{
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    transition: all 0.2s ease;
    text-shadow: none;
}

@media only screen and (max-width: 600px){
    .nav{
        display: none;
    }
    .nav-2{
        display: initial;
    }
}

@media only screen and (min-width: 600px) and (max-width: 990px) {
    .nav{
        font-size: 1.5vw;
    }
    .nav-item {

    }

    .proj-button {
    }
}
