*{
  margin: 0;
  padding: 0;
}

/* gallery styles starts */

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.swiper-3d {
  perspective: 190px !important;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 550px !important;
  height: 350px !important;
}

@media(max-width:920px){
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 500px !important; 
    height: 300px !important;
  }
  .swiper-slide {
    opacity: .6;
  
  }
  
  .swiper-slide-active {
    opacity: 1 !important;
    /* height: 300px !important;
    width: 300px !important;  */
  }
}
@media(max-width:420px){
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 270px !important; 
    height: 160px !important;
  }
  .swiper-slide-active {
    opacity: 1;
    height: 190px !important;
  }
  .swiper-slide {
    opacity: .6;
  
  }
  

}
.swiper-slide img {
  display: block;
  width: 100%;
}
.swiper-slide {
  opacity: .4;

}
.swiper-slide-active{
  opacity: 1;
  margin-top: -1.76rem;
}

@media(min-width:921px){
.swiper-slide-active {
  opacity: 1;
  height: 380px !important;
  width: 576px !important;
}
}
/* gallery styles ends */
