

/* gallery styles starts */
/* @font-face {
  font-family: 'Akira-expanded';
  font-weight: 300;
  src: URL('components/assets/Akira Expanded.otf') format('opentype');
} */

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.gallery-header h2{
  text-transform: uppercase !important;
}
.swiper-3d {
  perspective: 190px !important;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 550px !important;
  height: 350px !important;
}
.gallery-header h2{
  font-family: 'Orbitron'!important;

}
.swiper-button-next:after, .swiper-button-prev:after {
  font-family: swiper-icons;
  font-size: 63px !important;
  text-transform: none!important;
  letter-spacing: 0;
color: white;
  font-variant: initial;
  line-height: 1;
}

@media(max-width:920px){
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 500px !important; 
    height: 300px !important;
  }
  .swiper-slide {
    opacity: 1 !important;
  
  }
  
  .swiper-slide-active {
    opacity: 1 !important;
    /* height: 300px !important;
    width: 300px !important;  */
  }
  .gallery-header h2{
    font-size: 4.8rem !important;
  }
  .swiper-slide-active img{
    filter: brightness(100%) !important;
  }
  .swiper-slide img {
    filter: brightness(36%) !important;
  }
}
@media(max-width:420px){
  .gallery-header h2{
    font-size: 3rem !important;
  }
   .swiper-button-next {
    left: auto !important;
    right: var(--swiper-navigation-sides-offset,4px) !important;
}
.swiper-button-prev {
  right:auto !important;
  /* right: auto; */
  left: var(--swiper-navigation-sides-offset,4px) !important;
}
.swiper-button-next:after, .swiper-button-prev:after {
  font-family: swiper-icons;
  font-size: 46px !important;
  text-transform: none!important;
  letter-spacing: 0;
  color: white;
  
  font-variant: initial;
  line-height: 1;
}
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 270px !important; 
    height: 160px !important;
  }
  .swiper-slide-active {
    opacity: 1;
    height: 190px !important;
  }
  .swiper-slide {
    opacity: 1;
  
  }
  .swiper-slide-active img{
    filter: brightness(100%);
  }
  
  .swiper-slide img {
    filter: brightness(36%);
  }

}
.swiper-slide img {
  display: block;
  width: 100%;
}
.swiper-slide {
  opacity: 1 !important;

}
.swiper-slide-active{
  opacity: 1;
  margin-top: -1.76rem;
}

@media(min-width:921px){
  .swiper-button-next {
    right: var(--swiper-navigation-sides-offset,9px) !important;
    /* right: auto; */
    left: auto;
    
  }
  .swiper-button-next:after, .swiper-button-prev:after {
    font-family: swiper-icons;
    font-size: 63px !important;
    text-transform: none!important;
    letter-spacing: 0;
  color: white;
    font-variant: initial;
    line-height: 1;
  }
  
  .swiper-button-prev {
    left: var(--swiper-navigation-sides-offset,9px) !important;
    right: auto;
  }
  .swiper-button-next {
    left: auto;
    right: var(--swiper-navigation-sides-offset,20px);
  }
.swiper-slide-active {
  opacity: 1;
  height: 380px !important;
  width: 576px !important;
}
.gallery-header h2{
  font-family: 'Orbitron'!important;
  font-size: 5rem !important;
 
 }
.swiper-slide-active img{
  filter: brightness(100%) !important;
}
.swiper-slide img {
  filter: brightness(36%) !important;
}
}
/* .swiper-slide{
  border: 3px solid white;
} */
.swiper-slide img {
  filter: brightness(36%) !important;
}
.swiper-slide-active img{
  filter: brightness(100%) !important;
}
/* @media(max-width:412px){
  .swiper-button-next {
    left: auto !important;
    right: var(--swiper-navigation-sides-offset,15px) !important;
}
.swiper-button-prev {
  right:auto !important;
  
  left: var(--swiper-navigation-sides-offset,15px) !important;
}

} */
/* @media(max-width:1024px){
  .swiper-button-next {
    left: auto !important;
    right: var(--swiper-navigation-sides-offset,25px) !important;
}
.swiper-button-prev {
  right:auto !important;

  left: var(--swiper-navigation-sides-offset,25px) !important;
}

} */
/* @media(max-width:1280px){
  .swiper-button-next {
    left: auto !important;
    right: var(--swiper-navigation-sides-offset,25px) !important;
}
.swiper-button-prev {
  right:auto !important;
  
  left: var(--swiper-navigation-sides-offset,25px) !important;
}

} */

/* gallery styles ends */

/* discord component styles starts*/
.discordContainer {
  display: flex;
  flex-direction: column;
  margin: 15rem auto;
  text-align: center;
  font-family: 'Akira-expanded';
  color: #FBFBFB;
  justify-content: center;
  padding: auto;
}

.discordButton {
  width: 35vw;
  margin: 4rem;
  background: hsla(312, 44%, 78%, 1);
  background: linear-gradient(0deg, hsla(312, 44%, 78%, 1) 0%, hsla(306, 58%, 69%, 1) 13%, hsla(295, 58%, 53%, 1) 46%, hsla(246, 36%, 47%, 1) 75%, hsla(255, 71%, 22%, 1) 100%);
  background: -moz-linear-gradient(0deg, hsla(312, 44%, 78%, 1) 0%, hsla(306, 58%, 69%, 1) 13%, hsla(295, 58%, 53%, 1) 46%, hsla(246, 36%, 47%, 1) 75%, hsla(255, 71%, 22%, 1) 100%);
  background: -webkit-linear-gradient(0deg, hsla(312, 44%, 78%, 1) 0%, hsla(306, 58%, 69%, 1) 13%, hsla(295, 58%, 53%, 1) 46%, hsla(246, 36%, 47%, 1) 75%, hsla(255, 71%, 22%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#DFADD5", endColorstr="#DE83D5", GradientType=1 );
  border-width: 0.3rem;
  border-color: #FBFBFB;
}

.discordButtonText {
  font-family: 'Akira-expanded';
  color: #FBFBFB;
  font-size: 1.3rem;
  letter-spacing: 0.3rem;
  padding: 1rem;
}

.discordText {
  font-size: 2.5rem;
}
/* discord component styles end */
