* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* gallery styles starts */
/* @font-face {
  font-family: 'Akira-expanded';
  font-weight: 300;
  src: URL('components/assets/Akira Expanded.otf') format('opentype');
} */

body {
    background-color: #03191E;
    overflow-x: hidden;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 304' width='304' height='304'%3E%3Cpath fill='%23272629' fill-opacity='0.4' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'%3E%3C/path%3E%3C/svg%3E");
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.gallery-header h2 {
    text-transform: uppercase !important;
}
.swiper-3d {
    perspective: 190px !important;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 550px !important;
    height: 350px !important;
}
.gallery-header h2 {
    font-family: "Orbitron" !important;
}
.swiper-button-next:after,
.swiper-button-prev:after {
    font-family: swiper-icons;
    font-size: 63px !important;
    text-transform: none !important;
    letter-spacing: 0;
    color: white;
    font-variant: initial;
    line-height: 1;
}

@media (max-width: 920px) {
    .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 500px !important;
        height: 300px !important;
    }
    .swiper-slide {
        opacity: 1 !important;
    }

    .swiper-slide-active {
        opacity: 1 !important;
        /* height: 300px !important;
    width: 300px !important;  */
    }
    .gallery-header h2 {
        font-size: 4.8rem !important;
    }
    .swiper-slide-active img {
        filter: brightness(100%) !important;
    }
    .swiper-slide img {
        filter: brightness(36%) !important;
    }
}
@media (max-width: 600px) {
    .gallery-header h2 {
        font-size: 3rem !important;
    }
    .swiper-button-next {
        left: auto !important;
        right: var(--swiper-navigation-sides-offset, 4px) !important;
    }
    .swiper-button-prev {
        right: auto !important;
        /* right: auto; */
        left: var(--swiper-navigation-sides-offset, 4px) !important;
    }
    .swiper-button-next:after,
    .swiper-button-prev:after {
        font-family: swiper-icons;
        font-size: 46px !important;
        text-transform: none !important;
        letter-spacing: 0;
        color: white;

        font-variant: initial;
        line-height: 1;
    }
    .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 270px !important;
        height: 160px !important;
    }
    .swiper-slide-active {
        opacity: 1;
        height: 190px !important;
    }
    .swiper-slide {
        opacity: 1;
    }
    .swiper-slide-active img {
        filter: brightness(100%);
    }

    .swiper-slide img {
        filter: brightness(36%);
    }
}
.swiper-slide img {
    display: block;
    width: 100%;
}
.swiper-slide {
    opacity: 1 !important;
}
.swiper-slide-active {
    opacity: 1;
    margin-top: -1.76rem;
}

@media (min-width: 921px) {
    .swiper-button-next {
        right: var(--swiper-navigation-sides-offset, 9px) !important;
        /* right: auto; */
        left: auto;
    }
    .swiper-button-next:after,
    .swiper-button-prev:after {
        font-family: swiper-icons;
        font-size: 63px !important;
        text-transform: none !important;
        letter-spacing: 0;
        color: white;
        font-variant: initial;
        line-height: 1;
    }

    .swiper-button-prev {
        left: var(--swiper-navigation-sides-offset, 9px) !important;
        right: auto;
    }
    .swiper-button-next {
        left: auto;
        right: var(--swiper-navigation-sides-offset, 9px) !important;
    }
    .swiper-slide-active {
        opacity: 1;
        height: 380px !important;
        width: 576px !important;
    }
    .gallery-header h2 {
        font-family: "Orbitron" !important;
        font-size: 5rem !important;
    }
    .swiper-slide-active img {
        filter: brightness(100%) !important;
    }
    .swiper-slide img {
        filter: brightness(36%) !important;
    }
}
/* .swiper-slide{
  border: 3px solid white;
} */
.swiper-slide img {
    filter: brightness(36%) !important;
}
.swiper-slide-active img {
    filter: brightness(100%) !important;
}
@media (min-width: 1400px) {
    .swiper-button-prev {
        left: var(--swiper-navigation-sides-offset, 4px) !important;
        right: auto;
    }
    .swiper-button-next {
        left: auto;
        right: var(--swiper-navigation-sides-offset, 24px) !important;
    }
}
/* @media(max-width:412px){
  .swiper-button-next {
    left: auto !important;
    right: var(--swiper-navigation-sides-offset,15px) !important;
}
.swiper-button-prev {
  right:auto !important;
  
  left: var(--swiper-navigation-sides-offset,15px) !important;
}

} */
/* @media(max-width:1024px){
  .swiper-button-next {
    left: auto !important;
    right: var(--swiper-navigation-sides-offset,25px) !important;
}
.swiper-button-prev {
  right:auto !important;

  left: var(--swiper-navigation-sides-offset,25px) !important;
}

} */
/* @media(max-width:1280px){
  .swiper-button-next {
    left: auto !important;
    right: var(--swiper-navigation-sides-offset,25px) !important;
}
.swiper-button-prev {
  right:auto !important;
  
  left: var(--swiper-navigation-sides-offset,25px) !important;
}

} */
@media (max-width: 1080px) {
    .swiper-3d {
        perspective: 139px !important;
    }
}
@media (max-width: 954px) {
    .swiper-3d {
        perspective: 123px !important;
    }
}
@media (max-width: 830px) {
    .swiper-3d {
        perspective: 107px !important;
    }
}
@media (max-width: 769px) {
    .swiper-3d {
        perspective: 93px !important;
    }
}
@media (max-width: 769px) {
    .swiper-3d {
        perspective: 83px !important;
    }
}
@media (max-width: 668px) {
    .swiper-3d {
        perspective: 75px !important;
    }
}
@media (max-width: 598px) {
    .swiper-3d {
        perspective: 130px !important;
    }
}

@media (min-width: 1024px) {
    .swiper-slide-active {
        transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg)
            scale(1.1) !important;
    }
}
/* gallery styles ends */

/* discord component styles starts*/
.discordContainer {
    display: flex;
    flex-direction: column;
    margin: 15rem auto;
    text-align: center;
    font-family: "Akira-expanded";
    color: #fbfbfb;
    justify-content: center;
    padding: auto;
}

.discordButton {
    width: 35vw;
    margin: 4rem;
    background: hsla(312, 44%, 78%, 1);

    background-size: 300% 100%;
    moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    /* background: linear-gradient(0deg, hsla(312, 44%, 78%, 1) 0%, hsla(306, 58%, 69%, 1) 13%, hsla(295, 58%, 53%, 1) 46%, hsla(246, 36%, 47%, 1) 75%, hsla(255, 71%, 22%, 1) 100%);
  background: -moz-linear-gradient(0deg, hsla(312, 44%, 78%, 1) 0%, hsla(306, 58%, 69%, 1) 13%, hsla(295, 58%, 53%, 1) 46%, hsla(246, 36%, 47%, 1) 75%, hsla(255, 71%, 22%, 1) 100%);
  background: -webkit-linear-gradient(0deg, hsla(312, 44%, 78%, 1) 0%, hsla(306, 58%, 69%, 1) 13%, hsla(295, 58%, 53%, 1) 46%, hsla(246, 36%, 47%, 1) 75%, hsla(255, 71%, 22%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#DFADD5", endColorstr="#DE83D5", GradientType=1 ); */

    background-image: linear-gradient(
        to right,
        #667eea,
        #764ba2,
        #6b8dd6,
        #8e37d7
    );
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);

    border: none;
}

.discordButton:hover {
    background-position: 100% 0;
    moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.discordButtonText {
    font-family: "Akira-expanded";
    color: #fbfbfb;
    font-size: 1.3rem;
    letter-spacing: 0.3rem;
    padding: 1rem;
}

.discordText {
    font-size: 2.5rem;
}
/* discord component styles end */
