

/* gallery styles starts */
@font-face {
  font-family: 'Drummer Bold';
  src: local('Drummer Bold') url(./components/assets/Eugene\ Bunin\ -\ Drummer\ Bold.ttf) format('truetype');
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.swiper-3d {
  perspective: 190px !important;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 550px !important;
  height: 350px !important;
}
.gallery-header h2{
 font-family: 'Drummer';
  font-size: 5rem;

}

@media(max-width:920px){
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 500px !important; 
    height: 300px !important;
  }
  .swiper-slide {
    opacity: 1 !important;
  
  }
  
  .swiper-slide-active {
    opacity: 1 !important;
    /* height: 300px !important;
    width: 300px !important;  */
  }
  .swiper-slide-active img{
    filter: brightness(100%) !important;
  }
  .swiper-slide img {
    filter: brightness(36%) !important;
  }
}
@media(max-width:420px){
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 270px !important; 
    height: 160px !important;
  }
  .swiper-slide-active {
    opacity: 1;
    height: 190px !important;
  }
  .swiper-slide {
    opacity: 1;
  
  }
  .swiper-slide-active img{
    filter: brightness(100%);
  }
  
  .swiper-slide img {
    filter: brightness(36%);
  }

}
.swiper-slide img {
  display: block;
  width: 100%;
}
.swiper-slide {
  opacity: 1 !important;

}
.swiper-slide-active{
  opacity: 1;
  margin-top: -1.76rem;
}

@media(min-width:921px){
.swiper-slide-active {
  opacity: 1;
  height: 380px !important;
  width: 576px !important;
}
.swiper-slide-active img{
  filter: brightness(100%) !important;
}
.swiper-slide img {
  filter: brightness(36%) !important;
}
}
/* .swiper-slide{
  border: 3px solid white;
} */
.swiper-slide img {
  filter: brightness(36%) !important;
}
.swiper-slide-active img{
  filter: brightness(100%) !important;
}
/* gallery styles ends */
