body {
  background-color: #03191e;
}

/* participate section starts */

@font-face {
  font-family: 'Akira-expanded';
  font-weight: 300;
  src: URL('components/assets/Akira Expanded.otf') format('opentype');
}

.participate-section {
  color: #FBFBFB;
}

.participate-section header {
  text-align: center;
  font-size: 35px;
  font-family: 'Akira-expanded';
  margin-top: 20px;
}

.card-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 18rem));
  gap: 2.5rem;
  justify-content: center;
  margin-top: 80px;
}

.participate-card {
  overflow: hidden;
  border-radius: 3px;
  height: 210px;
  padding: 25px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  word-spacing: 1.5px;
}

.participate-card h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.participate-card p {
  text-align: justify;
  font-size: 18px;
  line-height: 25px;
}

/* gallery starts */

.gallery-section {
  background: #03191e;
  /* font-family: Helvetica Neue, Helvetica, Arial, sans-serif; */
  font-size: 14px;
  color: white;
  margin: 0;
  padding: 0;
  width: 100vw;
  margin: auto;
  /* margin-left: -10px;
  margin-right: -10px; */




}
.gallery-header h2{
  text-align: center !important;
}
.gallery-header {
  padding: .75rem 0;


}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  /* width: 100%; */
  height: 100%;
}

.gallery-header {
  text-align: center;
  margin-top: 3rem;
  font-size: 2rem;

}

/* @media(min-width:1000px){
.gallery-header h2{
 margin-left: -50px !important;
  
} 
} */
/* gallery ends */