.banner {
    width: 100%;
    height: fit-content;
    position: relative;
    /* background-image: url("./banner-img2.jpg"); */
    background-image: url("./banner-img6-min.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    color: white;
}

.container1 {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    padding: 7vw 10vw;
}
.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    padding-left: 6vw;
}

.avinya-logo {
    width: 30vw;
    height: auto;
    align-self: flex-start;
    /* padding-top: 4vw; */
}

.dates {
    /* padding: 5vw; */
    padding-top: 1vw;
    padding-bottom: 4vw;
    /* padding-left: 8vw; */
    font-size: 2vw;
    /* align-self: flex-start; */
    font-family: "montserrat";
}

.button {
    padding-top: 1vw;
    /* align-self: flex-start; */
    /* padding-left: 8vw; */
}

.popup{
    display: flex;
    position: fixed;
    align-self: center;
    justify-self: center;
    /* top: 250px;
    left: 30vw; */
    height: 30vh;
    width: 30vw;
    background-image: linear-gradient(#3b22aa, #64009a);
    box-shadow: 0 5px 20px 2px #64009a;
    font-size: larger;
    font-family: "Baloo 2", cursive;
    text-align: center;
    z-index: 10000;
    border-radius: 10px;
    padding: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* transition: all 2s ease; */
}

.pop-cross{
    height: 25px;
    width: auto;
    position: absolute;
    top: 25px;
    right: 25px;
}

.typewritercontainer {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    font-family: "montserrat";
    font-weight: bold;
    bottom: 1vw;
}

.typewritercontainer p {
    font-size: 1.5vw;
    margin: 2px 2rem;
    display: flex;
    flex-direction: column;
}

#type-1,
#type-2 {
    font-weight: 900;
    font-size: 3vw;
}

.up-a {
    color: white;
    text-decoration: none;
    position: fixed;
    bottom: 30px;
    right: 20px;
    z-index: 100000000;
}
.up-item {
    margin: 0 2vw;
    transition: all 0.2s ease;
    height: 30px;
    width: auto;
    padding: 10px;
    border-radius: 5px;
}



.up-item:hover{
    /* color: rgb(173, 173, 173); */
    transition: all 0.2s ease;
    box-shadow: 1px 1px 30px 1px rgba(255, 255, 255, 0.516);


}


@media only screen and (max-width: 600px) {
    .avinya-logo{
        align-self: center;
        width: 70vw;
        margin-top: 8vw;
        margin-bottom: 5vw;
    }
    .container2{
        align-self: center;
        /* flex-direction: row; */
        justify-content: center;
        margin: 5vw 0;
        padding-left: 0;
        /* width: 100%; */
    }
    .button {
        padding-left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
        margin: 0 4vw;
    }
    .dates {
        padding-left: 0;
        align-self: center;
        padding-bottom: 2vw;
        margin: 0 4vw;
        font-size: 4vw;
    }
    .typewritercontainer {
        padding-top: 4vw;
        align-self: center;
        bottom: initial;
    }
    .typewritercontainer p {
        font-size: 2vw;
        margin: 2px 2rem;
        display: flex;
        flex-direction: column;
    }
    #type-1,
#type-2 {
    font-weight: 900;
    font-size: 4vw;
}
.popup{
    font-size: medium;

}
.pop-cross{
    top: 10px;
    right: 10px;
}

}



@media only screen and (min-width: 600px) and (max-width: 990px){
    .banner{
        padding: 5vw 0;
    }
    .container2{
        padding-left: 4vw;
    }
}

@media only screen and (min-width: 750px) and (max-width: 800px){
    .container2{
        padding-left: 3vw;
    }
}
@media only screen and (min-width: 700px) and (max-width: 750px){
    .container2{
        padding-left: 2vw;
    }
}
@media only screen and (min-width: 650px) and (max-width: 700px){
    .container2{
        padding-left: 1vw;
    }
    .container1{
        padding: 7vw 7vw;
    }
}
@media only screen and (min-width: 600px) and (max-width: 650px){
    .container2{
        padding-left: 0.5vw;
    }
    .container1{
        padding: 7vw 7vw;
    }
}